
@{
    ViewData["Title"] = "Home Page";

}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>


<img src="~/homepage1.jpg" />
<div class="container" style="background-color:palevioletred" >
    <div class="row">
            <div class="col-sm">
            <h5 style="color:white">
                ANNOUNCEMENTS
            </h5>
            Report Card Distribution:- Date: Nursery to Grade V - 28th April 2023 Grade VI to IX - 29th April 2023 Time Parents are requested to visit the school in the allotted time slots only by the respective class teachers.
            Note Dates of books and uniform availability will be informed on Result day.<hr />
            MuSo (Museum of Solutions) is an immersive and interactive experience which help children to discover and understand the world around them. Lets build a better world by creating Museum of Solutions. We encourage students to participate with full zeal and enthusiasm. Kindly contact school office for more details.<hr />
            DSO Athletic Events and Sports calendar is available with the Sports Department. Enrolled students can contact the PTIs during the school hours.<hr />
        </div>
        <div class="col-sm">
            <h5>MEDIA</h5>
            Glimpses of Azadi ka Amrit Mahotsav
            <hr />
            Art Exhibition
            <hr />
            Glimpses of Annual Day Practice
           <hr />
            Glimpses of JSW Science Conclave
<hr />
            JSW Science Conclave
            <hr />
            Pariksha Pe Charcha
        </div>
       
    </div>
</div>

<h3 style=" text-align:center">Jindal Vidya Mandir is a Proud Recipient of ``International Dimension in Schools`` formerly known as 
   International School Award from British Council.</h3>
   <hr />
   <center>
    <img src="~/Logo-300x298.png" />
    <h2>AFFILIATIONS</h2>
   </center>
<div class="container">
    <h2>Our  Partners/ Our Clients</h2>
    <section class="customer-logos slider">
        <div class="slide"><img src="Frame-1.png"></div>
        <div class="slide"><img src="Frame-3.png"></div>
        <div class="slide"><img src="Frame-5.png"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
    </section>
    </div>
