@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var p = new Customer(1, 200,25,"anjali");

}
<p>ID:@(p.productid)</p>
<p>Price:(@p.Price)</p>
<p>Qnty:@(p.Qnty)</p>
<p>Name:(@p.Name)</p>