@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model checkboxmvc.Models.Tea
@using (Html.BeginForm("Index","Tea",FormMethod.Post))
{
    <h1>Breakfast</h1>
  <h6>Tea</h6> @Html.CheckBoxFor(m=>m.tea,true)
  
    <h6>Coffe</h6>@Html.CheckBoxFor(m=>m.coffe,false)
 
    <h6>chai</h6>@Html.CheckBoxFor(m=>m.chai,false)
    
    <input type="submit" values="ok">
}
<h5>output</h5>
tea:@ViewBag.Tea
<br />
coffe:@ViewBag.coffe
<br />
chai:@ViewBag.chai